.msg_main_div {
  width: 100%;
  height: 100vh;
}

/*for screen size larger or equal to 1024px px*/
@media screen and (min-width: 1024px) {
  .msg_main_div {
    margin-top: 109px;
    display: flex;
    flex: 1;
  }
  .msg_friend_container {
    height: calc(100% - 109px);
    width: 320px;
    background: #ee5700;
  }
  .msg_chat_containers {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
  }
}

/*for screen size less than 1024px px*/
@media screen and (max-width: 1023px) {
}
