.header {
  position: fixed;
  left: 0;
  margin: 0;
  z-index: 9999;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navbar_utilities_list {
  display: flex;
  padding: 0;
  align-items: center;
  list-style-type: none;
}

.navbar_utilities_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_lang_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.spacer_mid {
  flex: 1;
}

/* For larger devices */
@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    top: 30px;
    background-color: #f2f2f2;
    box-shadow: 0 0 4px #333333;
  }
  .website_icon {
    height: 25px;
    margin: 0 32px;
  }
  .navbar_menu_list {
    display: flex;
    align-items: center;
  }
  .navbar_menu_item a {
    margin: 0 4px;
    text-decoration: none;
    color: #5c5c5c;
  }
  .navbar_menu_item--active {
    font-weight: bold;
    color: #000000;
  }
  .navbar_menu_item a:hover {
    cursor: pointer;
    color: black;
  }
  .navbar_menu_items_separator {
    margin: 0 4px;
    color: #ee5700;
  }
  .navbar_categories {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .navbar_categories_down_icon {
    margin-left: 4px;
  }
  .cat_menu_container--hidden {
    display: none;
  }
  .cat_menu_container--visible {
    width: 100%;
    position: absolute;
    top: 49px;
    left: 0px;
    display: flex;
  }
  .hamburger_icon,
  .search_bar_container_mobile--hidden {
    display: none;
  }
  .navbar_menu_list {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: #5c5c5c;
    list-style-type: none;
  }
  .sell_with_us_button_group {
    margin: 0 10px;
    z-index: 999;
  }
  .sell_with_us_button_group button {
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    width: 130px;
    height: 32px;
    border-radius: 20px;
    font-weight: 500;
    color: #ffffff;
    background: linear-gradient(#fac412, #fa8c16);
    outline: none;
    border: none;
    cursor: pointer;
  }
  .sell_with_us_button_group button:hover {
    background: linear-gradient(#fa8c16, #ee5700);
  }
  .signed_out_component,
  .signed_in_component {
    margin: 0 8px;
  }
  .navbar_search_btn_container {
    display: flex;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin: 0 32px 0 8px;
    font-size: 1rem;
  }
  .navbar_search_btn_group {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #333333;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    z-index: 999;
  }
  .navbar_search_btn_group:hover {
    background: #cccccc;
    color: #000000;
  }
  .navbar_utilities_list {
    margin: 0;
    color: #000000;
  }
  .navbar_utilities_item {
    margin: 0 10px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .navbar_utilities_item:active {
    color: #000000;
  }
  .navbar_lang_icon {
    height: 24px;
    width: 24px;
    padding: 4px;
    background: #333333;
    color: #ffffff;
    font-size: 1.15rem;
    z-index: 999;
  }
  .navbar_lang_icon:hover {
    background: #cccccc;
    color: #000000;
  }
  /* CSS for mobile search bar */
  .search_bar_container_mobile--visible {
    position: absolute;
    top: 178px;
    z-index: 99999;
  }
  .search_bar_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar_language_selector {
    margin: 0 10px;
    border-radius: 20px;
    padding: 0 16px;
    background: #333333;
    font-weight: bold;
    color: #ffffff;
    height: 32px;
    outline: none;
    border: none;
  }
}

/*for screen size less than 1024px px*/
@media screen and (max-width: 1023px) {
  .header {
    width: 100%;
    height: 45px;
    top: 0px;
    background-color: #ee5700;
    box-shadow: 0px 0 4px #333333;
  }
  .website_icon {
    height: 24px;
    margin-left: 10px;
  }
  .hamburger_icon {
    padding: 4px 8px;
    background: none;
    border: none;
    outline: none;
  }
  .navbar_menu_list,
  .sell_with_us_button_group {
    display: none;
  }
  .cat_menu_container--hidden,
  .cat_menu_container--visible {
    display: none;
  }
  .navbar_utilities_list {
    font-size: 1.2rem;
    margin-right: 0;
    color: #ffffff;
  }
  .navbar_utilities_item {
    height: 40px;
    width: 44px;
  }
  .spacer_start {
    margin-left: 10px;
  }
  .spacer_end {
    margin-right: 10px;
  }
  .navbar_lang_icon {
    height: 26px;
    width: 26px;
    background: #ffffff;
    color: #ee5700;
    font-size: 1rem;
    -webkit-tap-highlight-color: transparent;
  }
  .navbar_lang_icon:active {
    background: #cccccc;
    color: #000000;
  }
  .navbar_search_btn_group {
    height: 40px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    background: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  .navbar_search_btn_group:active {
    background-color: #3333331c;
  }
  .navbar_search_btn {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background: #ffffff;
    color: #ee5700;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  .navbar_search_btn:active {
    background: #cccccc;
    color: #000000;
  }
  /* CSS for search bar to be used only for mobile devices*/
  .search_bar_container_mobile--visible {
    width: 100%;
    margin: -1px 0 0 0;
    height: 39px;
    display: flex;
    position: fixed;
    background-color: #ee5700;
    padding: 0 8px 8px 8px;
    transition: all ease-in 0.1s;
    -webkit-transition: all ease-in 0.1s;
    -moz-transition: all ease-in 0.1s;
    -o-transition: all ease-in 0.1s;
    -ms-transition: all ease-in 0.1s;
    /* box-shadow: 0 2px 4px -1px #5c5c5c; */
  }
  .search_bar_container_mobile--hidden {
    transform: translateY(-300%);
    opacity: 0;
    transition: all ease-out 0.1s;
    -webkit-transition: all ease-out 0.1s;
    -moz-transition: all ease-out 0.1s;
    -o-transition: all ease-out 0.1s;
    -ms-transition: all ease-out 0.1s;
  }
  .search_bar_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 37px;
    margin-top: 2px;
    margin-right: 16px;
    background: #ffffff;
    border-radius: 3px;
    box-sizing: border-box;
  }
  .navbar_language_selector {
    height: 30px;
    border-radius: 20px;
    font-weight: bold;
    outline: none;
    border: none;
    background: #ffffff;
    color: #ee5700;
  }
}
