.signed_in_main_div,
.signed_in_profile_btn,
.signed_in_dropdown_component,
.signed_in_item,
.signed_in_icon,
.signed_in_text {
  display: flex;
  align-items: center;
}

.signed_in_main_div,
.signed_in_dropdown_component,
.signed_in_list--visible {
  flex-direction: column;
}

.signed_in_profile_btn {
  justify-content: center;
  cursor: pointer;
  /* transparent border overlaps the btn. so, z-index required */
  z-index: 10;
}

.signed_in_profile_image {
  border-radius: 50%;
  object-fit: cover;
  -o-object-fit: cover;
}

.signed_in_notification_badge {
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  align-self: center;
  background: #ff0000;
}

.signed_in_dropdown_component {
  position: relative;
}

.signed_in_list--visible {
  display: flex;
  position: absolute;
  margin: 0;
  list-style-type: none;
  background: #ffffff;
}

.signed_in_list--hidden {
  display: none;
}

.signed_in_top_arrow_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.signed_in_top_arrow {
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
}

.signed_in_item {
  width: calc(100% - 2px);
  margin-bottom: 8px;
  border: 1px solid transparent;
  border-radius: 2px;
  background: #ffecb5;
  justify-content: center;
  cursor: pointer;
}

.signed_in_item:last-child {
  margin-bottom: 0;
}

.signed_in_item:hover {
  border: 1px solid #ee5700;
}

.signed_in_my_profile,
.signed_in_messages,
.signed_in_dashboard,
.signed_in_favourites,
.signed_in_rewards,
.signed_in_sign_out {
  width: 100%;
  text-decoration: none;
  color: #333333;
  display: flex;
}

.signed_in_icon {
  position: relative;
  top: 0;
  left: -1px;
  border-radius: 2px;
  color: #ffffff;
  background: #ee5700;
  justify-content: center;
}

.signed_in_text {
  color: #333333;
  margin-left: -20px;
  font-weight: bold;
  justify-content: center;
  flex: 1;
}

/*for screen size larger or equal to 1024px px*/
@media screen and (min-width: 1024px) {
  .signed_in_profile_image {
    height: 32px;
    width: 32px;
  }
  .signed_in_notification_badge {
    height: 8px;
    width: 8px;
    bottom: 15%;
  }
  .signed_in_list--visible {
    top: 26px;
    padding: 0 16px 16px 16px;
    width: 220px;
    border: 1px solid #ee5700bd;
    border-radius: 4px;
  }
  .signed_in_top_arrow_container {
    margin-bottom: 16px;
    margin-top: -50px;
  }
  .signed_in_top_arrow {
    border-width: 25px;
    border-color: transparent transparent #ee5700bd transparent;
  }
  .signed_in_item {
    height: 40px;
  }
  .signed_in_item:hover {
    border: 1px solid #ee5700;
  }
  .signed_in_icon {
    height: 42px;
    width: 42px;
    font-size: 1.2rem;
  }
  .signed_in_text {
    font-size: 0.9rem;
  }
}

/*for screen size less than 1024px px*/
@media screen and (max-width: 1023px) {
  .signed_in_profile_btn {
    height: 40px;
    width: 44px;
    -webkit-tap-highlight-color: transparent;
  }
  .signed_in_profile_image {
    height: 26px;
    width: 26px;
  }
  .signed_in_notification_badge {
    height: 5px;
    width: 5px;
    bottom: 20%;
  }
  .signed_in_dropdown_component {
    z-index: 500;
  }
  .signed_in_list--visible {
    top: 4px;
    padding: 0 12px 12px 12px;
    width: 198px;
    border-radius: 2px;
    box-shadow: 0 0 4px #5c5c5c;
  }
  .signed_in_top_arrow_container {
    margin-bottom: 12px;
    margin-top: -16px;
  }
  .signed_in_top_arrow {
    border-width: 8px;
    border-color: transparent transparent #ffffff transparent;
  }
  .signed_in_item {
    height: 35px;
    -webkit-tap-highlight-color: transparent;
  }
  .signed_in_item:active {
    border: 1px solid #ee5700;
  }
  .signed_in_icon {
    height: 37px;
    width: 37px;
    font-size: 1rem;
  }
  .signed_in_text {
    font-size: 0.85rem;
  }
}
