.signed_out_main_div,
.signed_out_profile_btn,
.signed_out_dropdown_component,
.signed_out_item,
.signed_out_icon,
.signed_out_text {
  display: flex;
  align-items: center;
}
.signed_out_main_div,
.signed_out_dropdown_component,
.signed_out_list--visible {
  flex-direction: column;
}
.signed_out_profile_btn {
  justify-content: center;
  cursor: pointer;
  /* transparent border overlaps the btn. so, z-index required */
  z-index: 10;
}
.signed_out_profile_image {
  border-radius: 50%;
  object-fit: cover;
  -o-object-fit: cover;
}
.signed_out_dropdown_component {
  position: relative;
}
.signed_out_list--visible {
  display: flex;
  position: absolute;
  margin: 0;
  list-style-type: none;
  background: #ffffff;
}
.signed_out_list--hidden {
  display: none;
}
.signed_out_top_arrow_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.signed_out_top_arrow {
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
}
.signed_out_item {
  width: calc(100% - 2px);
  margin-bottom: 8px;
  border: 1px solid transparent;
  border-radius: 2px;
  background: #ffecb5;
  justify-content: center;
  cursor: pointer;
}
.signed_out_item:last-child {
  margin-bottom: 0;
}
.signed_out_item:hover {
  border: 1px solid #ee5700;
}
.signed_out_sign_in {
  width: 100%;
  text-decoration: none;
  color: #333333;
  display: flex;
}
.signed_out_icon {
  position: relative;
  top: 0;
  left: -1px;
  border-radius: 2px;
  color: #ffffff;
  background: #ee5700;
  justify-content: center;
}
.signed_out_text {
  color: #333333;
  margin-left: -20px;
  font-weight: bold;
  justify-content: center;
  flex: 1;
}

/*for screen size larger or equal to 1024px px*/
@media screen and (min-width: 1024px) {
  .signed_out_profile_image {
    height: 36px;
    font-size: 2.1rem;
    color: #333333;
  }
  .signed_out_list--visible {
    top: 24px;
    padding: 0 16px 16px 16px;
    width: 220px;
    border: 1px solid #ee5700bd;
    border-radius: 4px;
  }
  .signed_out_top_arrow_container {
    margin-bottom: 16px;
    margin-top: -50px;
  }
  .signed_out_top_arrow {
    border-width: 25px;
    border-color: transparent transparent #ee5700bd transparent;
  }
  .signed_out_item {
    height: 40px;
  }
  .signed_out_item:hover {
    border: 1px solid #ee5700;
  }
  .signed_out_icon {
    height: 42px;
    width: 42px;
    font-size: 1.2rem;
  }
  .signed_out_text {
    font-size: 0.9rem;
  }
}

/*for screen size less than 1024px px*/
@media screen and (max-width: 1023px) {
  .signed_out_profile_btn {
    height: 40px;
    width: 44px;
    -webkit-tap-highlight-color: transparent;
  }
  .signed_out_profile_image {
    height: 30px;
    font-size: 1.7rem;
    color: #ffffff;
  }
  .signed_out_dropdown_component {
    z-index: 500;
  }
  .signed_out_list--visible {
    top: 4px;
    padding: 0 12px 12px 12px;
    width: 198px;
    border-radius: 2px;
    box-shadow: 0 0 4px #5c5c5c;
  }
  .signed_out_top_arrow_container {
    margin-bottom: 12px;
    margin-top: -16px;
  }
  .signed_out_top_arrow {
    border-width: 8px;
    border-color: transparent transparent #ffffff transparent;
  }
  .signed_out_item {
    height: 35px;
    -webkit-tap-highlight-color: transparent;
  }
  .signed_out_item:active {
    border: 1px solid #ee5700;
  }
  .signed_out_icon {
    height: 37px;
    width: 37px;
    font-size: 1rem;
  }
  .signed_out_text {
    font-size: 0.85rem;
  }
}
