.overview_inner_div,
.overview_stats_box {
  display: flex;
  flex-direction: column;
}
.overview_inner_div {
  height: 100%;
  width: 100%;
}

.overview_description {
  display: flex;
  align-items: center;
  color: #5c5c5c;
  font-size: 0.8rem;
}
.overview_info_icon {
  margin-left: 8px;
  cursor: pointer;
}
.overview_stats_heading {
  font-weight: bold;
  color: #000000;
  font-size: 0.8rem;
}

.overview_stats_box {
  padding: 16px 0;
  align-items: center;
  border-radius: 8px;
}
.overview_stat_box_heading {
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: bold;
}
.overview_stat_data {
  margin-top: 8px;
  font-size: 0.8rem;
}

/*for screen size larger or equal to 560px px*/
@media screen and (min-width: 560px) {
  .overview_stats {
    margin-top: 16px;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .overview_charts {
    display: flex;
    width: 100%;
  }
  .overview_chart_sell {
    width: 50%;
    margin-right: 4px;
  }
  .overview_chart_buy {
    width: 50%;
    margin-left: 4px;
  }
}

/*for screen size larger or equal to 560px px*/
@media screen and (max-width: 561px) {
  .overview_stats {
    margin-top: 16px;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
  }
  .overview_charts {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .overview_chart_sell {
    width: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .overview_chart_buy {
    width: 100%;
    margin-top: 8px;
  }
}

/*for screen size larger or equal to 1024px px*/
@media screen and (min-width: 1024px) {
  .overview_main_div {
    height: 100%;
    width: 100%;
  }
  .overview_heading {
    font-size: 1.5rem;
    color: #333333;
  }

  .overview_description {
    margin-top: 8px;
  }
  .overview_stats_heading {
    margin-top: 64px;
  }
}

/*for screen size less than 1024px px*/
@media screen and (max-width: 1023px) {
  .overview_main_div {
    height: 100%;
    width: calc(100% - 16px);
    padding: 8px;
  }
  /* .overview_heading {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .overview_heading {
    font-size: 1.2rem;
    color: #333333;
    font-weight: bold;
  }

  .overview_description {
    margin-left: 2px;
  }
  .overview_stats_heading {
    margin-top: 32px;
  }
}
