.sign_up_pwd_main_div {
  height: 100%;
  width: 100%;
}

.sign_up_form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign_up_label_pri,
.sign_up_label_sec {
  width: calc(80% + 16px);
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #333333;
}

.sign_up_label_sec {
  margin-top: 16px;
}

.sign_up_pwd_mob {
  background: #dddddd;
}

.sign_up_pwd,
.sign_up_cnf_pwd,
.sign_up_pwd_mob {
  display: flex;
  align-items: center;
  width: 80%;
  border: 1px solid #ee57004d;
  border-radius: 4px;
  outline: none;
  padding: 0 8px;
  color: #333333;
}

.sign_up_pwd_params {
  width: calc(80% + 16px);
  color: #333333;
  display: flex;
  font-weight: bold;
}

.sign_up_pwd_params_list {
  width: calc(80% + 16px);
  color: #5c5c5c;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
}

.sign_up_pwd_params_item {
  width: 90%;
}

.sign_up_sign_up_btn {
  margin-top: 16px;
  padding: 0 24px;
  height: 40px;
  border-radius: 4px;
  background-color: #0b2e3b;
  color: #ffffff;
  font-size: 0.8rem;
  border: none;
  outline: none;
  cursor: pointer;
}

/*for screen size larger or equal to 1024px px*/
@media screen and (min-width: 1024px) {
  .sign_up_pwd_mob,
  .sign_up_pwd {
    margin-top: 16px;
  }
  .sign_up_pwd_mob,
  .sign_up_pwd,
  .sign_up_cnf_pwd {
    height: 40px;
    font-size: 1rem;
  }
  .sign_up_cnf_pwd {
    margin-top: 8px;
  }
  .sign_up_pwd_params {
    margin-top: 24px;
    font-size: 0.8rem;
  }
  .sign_up_pwd_params_list {
    font-size: 0.8rem;
  }
  .sign_up_sign_up_btn {
    margin-top: 16px;
    padding: 0 24px;
    height: 40px;
  }
}

/*for screen size less than 1024px px*/
@media screen and (max-width: 1023px) {
  .sign_up_pwd_mob,
  .sign_up_pwd {
    margin-top: 8px;
  }
  .sign_up_pwd_mob,
  .sign_up_pwd,
  .sign_up_cnf_pwd {
    height: 30px;
    font-size: 0.9rem;
  }
  .sign_up_cnf_pwd {
    margin-top: 4px;
  }
  .sign_up_pwd_params {
    margin-top: 16px;
    font-size: 0.75rem;
  }
  .sign_up_pwd_params_list {
    font-size: 0.75rem;
  }
  .sign_up_sign_up_btn {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 32px;
    height: 35px;
  }
}
