.intro_info_main_div,
.intro_info_inner_div,
.intro_info_part_one,
.intro_info_part_two,
.intro_info_part_three {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro_info_main_div {
  width: 100%;
  box-sizing: border-box;
}

.intro_info_inner_div {
  width: 100%;
}

.intro_info_part_two {
  background: #f0f0f0;
}

.intro_info_image {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #5c5c5c;
}

.intro_info_image img {
  border-radius: 50%;
}

.intro_info_content {
  color: #5c5c5c;
  text-align: center;
}

/*for screen size larger or equal to 1024px px*/
@media screen and (min-width: 1024px) {
  .intro_info_part_one,
  .intro_info_part_two,
  .intro_info_part_three {
    padding: 24px 16px 16px 16px;
    max-width: 350px;
    flex-direction: column;
  }
  .intro_info:hover > .intro_info_image img {
    transform: scale(1.05);
  }
  .intro_info_image,
  .intro_info_image img {
    height: 150px;
    width: 150px;
  }
  .intro_info_content {
    margin-top: 16px;
    font-size: 0.95rem;
  }
}

/*for screen size less than 1024px px*/
@media screen and (max-width: 1023px) {
  .intro_info_inner_div {
    flex-direction: column;
  }
  .intro_info_part_one,
  .intro_info_part_two,
  .intro_info_part_three {
    padding: 16px 16px;
    flex-direction: column;
  }
  .intro_info_image,
  .intro_info_image img {
    height: 100px;
    width: 100px;
  }
  .intro_info_content {
    margin-top: 8px;
    font-size: 0.8rem;
  }
}
