.profile_basic_info_main_div {
  height: 100%;
  width: 100%;
}
.profile_basic_info_heading {
  font-weight: bold;
  margin-bottom: 16px;
  font-size: 0.9rem;
}
.profile_basic_info_content,
.profile_address_content {
  display: flex;
  flex-direction: column;
}
.profile_basic_info_label {
  margin-top: 16px;
  font-size: 0.8rem;
  color: #000000;
}
.profile_basic_info_item {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.profile_name_input_field_and_lock,
.profile_email_input_field_and_lock,
.profile_mobile_input_field_and_lock {
  display: flex;
  align-items: center;
  position: relative;
}
.profile_name_input_field_and_lock {
  width: 100%;
}
.profile_input {
  display: flex;
  border-radius: 4px;
  font-size: 0.9rem;
  -moz-user-focus: none;
  color: #5c5c5c;
  background: none;
  border: 1px solid #cccccc;
  outline: none;
}
.profile_input:focus {
  border-color: #ee5700;
  box-shadow: 0 0 0 1px #ee5700;
}
.profile_name_input {
  padding-left: 8px;
  padding-right: 40px;
  width: calc(100% - 48px);
  height: 34px;
}
.profile_email_input {
  padding-left: 8px;
  padding-right: 40px;
  width: 100%;
  height: 34px;
}
.profile_email_otp,
.profile_mobile_otp {
  height: 36px;
  width: 100%;
  display: flex;
  padding: 0 40px 0 8px;
}
.profile_mobile_input {
  padding-left: 44px;
  padding-right: 40px;
  width: 100%;
  height: 34px;
}
.profile_edit_btn--lock {
  height: 30px;
  width: 30px;
  border-radius: 1px;
  outline: none;
  border: none;
  font-size: 1rem;
  background: none;
  color: #333333;
  cursor: pointer;
  align-self: center;
  background: #eeeeee;
  position: absolute;
  right: 4px;
}
.profile_edit_btn--unlock {
  height: 30px;
  width: 30px;
  border-radius: 1px;
  outline: none;
  border: none;
  font-size: 1rem;
  background: none;
  color: #ee5700;
  cursor: pointer;
  align-self: center;
  background: #eeeeee;
  position: absolute;
  right: 4px;
}
.profile_email_otp--visible,
.profile_mobile_otp--visible {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 12px;
  position: relative;
}
.profile_email_otp--hidden,
.profile_mobile_otp--hidden {
  display: none;
}
.profile_verify_otp_go {
  height: 30px;
  width: 30px;
  border-radius: 1px;
  background: #ee5700;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 4.5px;
}
.profile_resend_email_otp--active,
.profile_resend_mobile_otp--active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: #dddddd;
  color: #ee5700;
  position: absolute;
  right: -46px;
  outline: none;
  border: none;
  cursor: pointer;
}
.profile_resend_email_otp--inactive,
.profile_resend_mobile_otp--inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #eeeeee;
  color: #ee5700;
  position: absolute;
  right: -46px;
  outline: none;
  border: 1px solid #ee5700;
  pointer-events: none;
}
.profile_otp_input_with_verify {
  display: flex;
  flex: 1;
}
.profile_email_otp_btn--visible,
.profile_mobile_otp_btn--visible {
  margin-left: 12px;
  height: 38px;
  width: 100%;
  border-radius: 4px;
  background: #ee5700;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
}
.profile_email_otp_btn--hidden,
.profile_mobile_otp_btn--hidden {
  margin-left: 12px;
  height: 38px;
  width: 100%;
  background: transparent;
  font-weight: bold;
  pointer-events: none;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.profile_email_otp_btn--gone,
.profile_mobile_otp_btn--gone {
  display: none;
}
.profile_mob_code {
  position: absolute;
  left: 1px;
  top: 1px;
  height: 34px;
  width: 34px;
  background: #fffbf0;
  border: 1px solid #fa8c16;
  color: #5c5c5c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  border-radius: 3px;
}
.profile_mob_verified_info {
  height: 100%;
  width: 30px;
  color: #009900;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_email_verified_info {
  height: 100%;
  width: 30px;
  color: #990000;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_pwd {
  margin-top: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 36px;
  display: flex;
}
.profile_pwd_item {
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0 8px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1rem;
  -moz-user-focus: none;
  color: #8a8a8a;
}
.profile_pwd_edit_btn {
  height: 100%;
  padding: 0 16px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 0.8rem;
  background: none;
  color: #ee5700a6;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_address_heading {
  margin-top: 64px;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 0.9rem;
}
.profile_reset_pwd_popup {
  display: flex;
  flex-direction: column;
}
.profile_reset_pwd_header {
  font-weight: bold;
  font-size: 0.9rem;
}
.profile_pwd_input {
  margin-top: 8px;
  height: 36px;
  padding: 0 12px;
}
.profile_pwd_error {
  margin-top: 8px;
  color: #cc0000;
  font-size: 0.8rem;
}
.profile_pwd_guideline {
  margin-top: 16px;
  padding: 8px;
  border: 1px solid #ee5700;
  background: #fff4e7;
  border-radius: 4px;
}
.profile_pwd_params {
  font-weight: bold;
}
.profile_pwd_params_list {
  margin-top: 8px;
  list-style-type: none;
  padding: 8px 0 0 8px;
  margin: 0;
}
.profile_reset_pwd_btn {
  height: 36px;
  width: 100%;
  margin-top: 16px;
  border: none;
  outline: none;
  background: #fa8c16;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.profile_add_new_add_btn--visible {
  margin-top: 40px;
  width: 150px;
  font-size: 0.9rem;
  color: #ee5700;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
}
.profile_add_new_add_btn--visible:hover {
  background: #dddddd;
}
.profile_add_new_add_btn--hidden {
  display: none;
}
.profile_address_content--visible {
  display: block;
}
.profile_address_content--hidden {
  display: none;
}
.profile_add_new_add_heading {
  margin-top: 40px;
  font-size: 0.9rem;
  color: #5c5c5c;
  font-weight: bold;
}
.profile_new_add_utility {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_new_add_cancel,
.profile_new_add_save {
  width: 120px;
  height: 36px;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}
.profile_new_add_cancel {
  background-color: #dddddd;
  color: #333333;
}
.profile_new_add_save {
  margin-left: 14px;
  background-color: #fa8c16;
  color: #ffffff;
}
.profile_basic_info_saved_address {
  border: 1px solid #fa8c16;
  padding: 12px;
  margin-top: 16px;
  border-radius: 4px;
  font-size: 0.85rem;
  display: flex;
}
.profile_saved_add_group {
  display: flex;
  flex-direction: column;
}
.profile_saved_add_name,
.profile_saved_add_address,
.profile_saved_add_sub_dist_dist,
.profile_saved_add_state_country_pin {
  margin-bottom: 6px;
}
.profile_saved_add_contact i {
  color: #5c5c5c;
}
.profile_saved_add_utility {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile_saved_add_utility button {
  height: 30px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  border: 1px solid #fa8c16;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.saved_add_edit {
  background: #fa8c16;
  color: #ffffff;
}
.saved_add_delete {
  background: #ffffff;
  color: #333333;
}
.profile_id_proof {
  display: flex;
  flex-direction: column;
}
.profile_id_proof_heading {
  margin-top: 64px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 0.9rem;
}
.profile_id_proof_desc {
  color: #8a8a8a;
  font-size: 0.8rem;
  margin-bottom: 8px;
}
.profile_submitted_document_heading {
  margin-top: 24px;
  color: #333333;
  font-size: 0.8rem;
  font-weight: bold;
}
.profile_select_document {
  margin-top: 8px;
  font-size: 0.9rem;
}
.profile_document_number {
  margin-top: 8px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  font-size: 0.9rem;
  padding: 0 12px;
  outline: none;
}
.profile_document_number:focus {
  border-color: #ee5700;
  box-shadow: 0 0 0 1px #ee5700;
}
.profile_file_upload {
  display: flex;
  flex-direction: column;
}
.profile_doc_instructions {
  margin-top: 4px;
  color: #ee5700;
  font-size: 0.7rem;
}
.profile_file_input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.profile_file_container {
  margin-top: 12px;
  padding: 16px;
  border: 1px solid #fa8c16;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile_file_input_filename {
  color: #8a8a8a;
  margin-bottom: 16px;
}
.profile_file_input_label {
  width: 100%;
  height: 35px;
  border-radius: 2px;
  background: #fa8c16;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.9rem;
}
.profile_document_error--visible {
  margin-top: 16px;
  color: #cc0000;
  font-size: 0.7rem;
  text-align: center;
}
.profile_document_error--hidden {
  display: none;
}
.profile_file_submitted {
  width: 100%;
  display: flex;
  border: 1px solid #cccccc;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.profile_file_submitted img {
  height: 75px;
  width: 75px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
}
.submitted_file_id {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 16px;
  background: #ddfeff;
}
.profile_update_kyc_file {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2px;
  padding: 8px 16px;
  background: #cccccc4f;
  color: #bbbbbb;
  cursor: pointer;
  outline: none;
  border: none;
}
.profile_update_kyc_file:hover {
  background: #9999997c;
  color: #000000;
}
.profile_file_submitted_status {
  margin-top: 16px;
  font-size: 0.7rem;
  text-align: center;
}
.profile_save_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_save_btn {
  margin-top: 32px;
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: bold;
}
.profile_save_btn--enabled {
  background: #0f4153;
  color: #ffffff;
  cursor: pointer;
}
.profile_save_btn--disabled {
  background: #cccccc;
  color: #bbbbbb;
  pointer-events: none;
}
.profile_update_doc_warning {
  padding: 8px;
  border: 1px solid #990000;
  border-radius: 4px;
  background: #ffe4e4;
  color: #990000;
  font-size: 0.75rem;
}
.default_link {
  text-decoration: none;
  color: #ee5700;
}
.default_link:hover {
  text-decoration: underline;
}
.profile_update_doc_heading {
  margin: 8px 16px -16px 16px;
  color: #000000;
  font-weight: bold;
}

/*for screen size larger or equal to 1024px px*/
@media screen and (min-width: 1024px) {
  .profile_basic_info_item {
    width: 480px;
  }
  .profile_email_input_field_and_lock,
  .profile_mobile_input_field_and_lock {
    width: 350px;
  }
  .profile_edit_btn--lock:hover,
  .profile_edit_btn--unlock:hover {
    background: #dddddd;
  }
  .profile_resend_email_otp--active:hover,
  .profile_resend_mobile_otp--active:hover {
    background: #cccccc;
    color: #ee5700;
  }
  .profile_pwd {
    width: 478px;
  }
  .profile_pwd_edit_btn:hover {
    color: #ee5700;
  }
  .profile_reset_pwd_popup {
    margin: 32px;
  }
  .profile_pwd_input {
    width: 360px;
  }
  .profile_pwd_guideline {
    width: 368px;
  }
  .profile_reset_pwd_btn:hover,
  .profile_file_input_label:hover {
    background-color: #ee5700;
  }
  .profile_new_add_utility {
    width: 480px;
  }
  .profile_new_add_cancel:hover {
    background-color: #cccccc;
    color: #000000;
  }
  .profile_new_add_save:hover {
    background-color: #ee5700;
    color: #ffffff;
  }
  .profile_basic_info_saved_address {
    width: 456px;
  }
  .profile_saved_add_utility button {
    width: 100px;
  }
  .saved_add_delete:hover {
    background: #cc0000;
    color: #ffffff;
    border-color: #cc0000;
  }
  .saved_add_edit:hover {
    background: #ee5700;
    color: #ffffff;
    border-color: #ee5700;
  }
  .profile_select_document {
    width: 482px;
  }
  .profile_document_number {
    width: 456px;
  }
  .profile_file_container {
    width: 448px;
  }
  .profile_file_container:hover {
    border-color: #ee5700;
  }
  .profile_save_btn_container {
    width: 480px;
  }

  .profile_save_btn--enabled:hover {
    background: #092b38;
  }
  .profile_update_doc_warning {
    margin: 16px 16px 16px 16px;
    width: 464px;
  }
}

/*for screen size larger or equal to 400 px*/
@media screen and (min-width: 400px) and (max-width: 1023px) {
  .profile_pwd_input {
    width: 320px;
  }
  .profile_pwd_guideline {
    width: 328px;
  }
}

/*for screen size less than 400 px*/
@media screen and (max-width: 399px) {
  .profile_pwd_input {
    width: 290px;
  }
  .profile_pwd_guideline {
    width: 298px;
  }
}

/*for screen size less than 1024px px*/
@media screen and (max-width: 1023px) {
  .profile_basic_info_main_div {
    padding-bottom: 32px;
  }
  .profile_basic_info_item {
    width: 100%;
  }
  .profile_email_input_field_and_lock,
  .profile_mobile_input_field_and_lock {
    width: 65%;
  }
  .profile_edit_btn--lock:active,
  .profile_edit_btn--unlock:active {
    background: #dddddd;
  }
  .profile_resend_email_otp--active:active,
  .profile_resend_mobile_otp--active:active {
    background: #cccccc;
    color: #ee5700;
  }
  .profile_pwd {
    width: calc(100% -2px);
  }
  .profile_pwd_edit_btn:active {
    color: #ee5700;
  }
  .profile_reset_pwd_popup {
    margin: 24px 16px;
  }
  .profile_reset_pwd_btn:active,
  .profile_file_input_label:active {
    background-color: #ee5700;
  }
  .profile_new_add_utility {
    width: 100%;
  }
  .profile_new_add_cancel:active {
    background-color: #cccccc;
    color: #000000;
  }
  .profile_new_add_save:active {
    background-color: #ee5700;
    color: #ffffff;
  }
  .profile_basic_info_saved_address {
    width: calc(100% - 26px);
  }
  .profile_saved_add_utility button {
    width: 80px;
  }
  .saved_add_delete:active {
    background: #cc0000;
    color: #ffffff;
    border-color: #cc0000;
  }
  .saved_add_edit:active {
    background: #ee5700;
    color: #ffffff;
    border-color: #ee5700;
  }
  .profile_select_document {
    width: 100%;
  }
  .profile_document_number {
    width: calc(100% - 26px);
  }
  .profile_file_container {
    width: calc(100% - 34px);
  }
  .profile_file_container:active {
    border-color: #ee5700;
  }
  .profile_save_btn_container {
    width: 100%;
  }
  .profile_save_btn--enabled:active {
    background: #092b38;
  }
  .profile_update_doc_warning {
    margin: 32px 16px;
    width: calc(100% - 50px);
  }
}
