.profile_basic_info_main_div {
  height: 100%;
  width: 100%;
}
.profile_basic_info_heading {
  font-weight: bold;
  margin-bottom: 16px;
}
.profile_basic_info_content,
.profile_address_content {
  display: flex;
  flex-direction: column;
}
.profile_basic_info_label {
  margin-top: 16px;
  font-size: 0.8rem;
  color: #000000;
}
.profile_basic_info_item {
  margin-top: 8px;
  width: 480px;
  display: flex;
  align-items: center;
}
.profile_name_input_field_and_lock,
.profile_email_input_field_and_lock {
  display: flex;
  align-items: center;
  position: relative;
}
.profile_name_input_field_and_lock {
  width: 100%;
}
.profile_email_input_field_and_lock {
  width: 350px;
}
.profile_input {
  display: flex;
  border-radius: 4px;
  font-size: 0.9rem;
  -moz-user-focus: none;
  color: #5c5c5c;
  background: none;
  border: 1px solid #cccccc;
  outline-color: #ee5700;
}
.profile_name_input {
  padding: 0 8px;
  width: 100%;
  height: 36px;
}
.profile_email_input {
  padding-left: 8px;
  padding-right: 40px;
  width: 100%;
  height: 34px;
}
.profile_email_otp {
  height: 36px;
  display: flex;
  flex: 1;
}
.profile_edit_btn--lock {
  height: 30px;
  width: 30px;
  border-radius: 2px;
  outline: none;
  border: none;
  font-size: 1rem;
  background: none;
  color: #333333;
  cursor: pointer;
  align-self: center;
  background: #eeeeee;
  position: absolute;
  right: 4px;
}
.profile_edit_btn--unlock {
  height: 30px;
  width: 30px;
  border-radius: 2px;
  outline: none;
  border: none;
  font-size: 1rem;
  background: none;
  color: #ee5700;
  cursor: pointer;
  align-self: center;
  background: #eeeeee;
  position: absolute;
  right: 4px;
}
.profile_edit_btn--lock:hover,
.profile_edit_btn--unlock:hover {
  background: #dddddd;
}
.profile_email_otp--visible,
.profile_mobile_otp--visible {
  display: flex;
  align-items: center;
}
.profile_email_otp--hidden,
.profile_mobile_otp--hidden {
  display: none;
}
.profile_verify_otp_go {
  height: 30px;
  width: 30px;
  border-radius: 2px;
  background: #ee5700;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -34px;
}
.profile_otp_input_with_verify {
  display: flex;
  flex: 1;
}
.profile_email_otp_btn--visible,
.profile_mobile_otp_btn--visible {
  margin-left: 12px;
  height: 38px;
  width: 100%;
  border-radius: 4px;
  background: #ee5700;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
}
.profile_email_otp_btn--hidden,
.profile_mobile_otp_btn--hidden {
  margin-left: 12px;
  height: 38px;
  padding: 0 16px;
  background: transparent;
  color: #ee5700;
  font-weight: bold;
  pointer-events: none;
  outline: none;
  border: none;
}
.profile_mob_code {
  position: relative;
  left: -1px;
  top: -1px;
  height: 36px;
  width: 36px;
  background: #fffbf0;
  border: 1px solid #fa8c16;
  color: #5c5c5c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  border-radius: 4px;
}
.profile_mob_verified_info {
  height: 100%;
  width: 30px;
  color: #009900;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_email_verified_info {
  height: 100%;
  width: 30px;
  color: #990000;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_pwd_item {
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0 8px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1rem;
  -moz-user-focus: none;
  color: #8a8a8a;
}
.profile_pwd_edit_btn {
  height: 100%;
  padding: 0 16px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 0.8rem;
  background: none;
  color: #ee5700a6;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_pwd_edit_btn:hover {
  color: #ee5700;
}
.profile_address_heading {
  margin-top: 64px;
  margin-bottom: 32px;
  font-weight: bold;
}
.profile_add_new_add_btn--visible {
  margin-top: 40px;
  width: 150px;
  font-size: 0.9rem;
  color: #ee5700;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
}
.profile_add_new_add_btn--visible:hover {
  background: #dddddd;
}
.profile_add_new_add_btn--hidden {
  display: none;
}
.profile_address_content--visible {
  display: block;
}
.profile_address_content--hidden {
  display: none;
}
.profile_add_new_add_heading {
  margin-top: 40px;
  font-size: 0.9rem;
  color: #5c5c5c;
  font-weight: bold;
}
.profile_new_add_utility {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
}
.profile_new_add_cancel,
.profile_new_add_save {
  width: 120px;
  height: 36px;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}
.profile_new_add_cancel {
  background-color: #dddddd;
  color: #333333;
}
.profile_new_add_save {
  margin-left: 14px;
  background-color: #fa8c16;
  color: #ffffff;
}
.profile_new_add_cancel:hover {
  background-color: #cccccc;
  color: #000000;
}
.profile_new_add_save:hover {
  background-color: #ee5700;
  color: #ffffff;
}
.profile_basic_info_saved_address {
  border: 1px solid #fa8c16;
  width: 456px;
  padding: 12px;
  margin-top: 16px;
  border-radius: 4px;
  font-size: 0.85rem;
  display: flex;
}
.profile_saved_add_group {
  display: flex;
  flex-direction: column;
}
.profile_saved_add_name,
.profile_saved_add_address,
.profile_saved_add_sub_dist_dist,
.profile_saved_add_state_country_pin {
  margin-bottom: 6px;
}
.profile_saved_add_contact i {
  color: #5c5c5c;
}
.profile_saved_add_utility {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile_saved_add_utility button {
  width: 100px;
  height: 30px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  border: 1px solid #fa8c16;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.saved_add_edit {
  background: #fa8c16;
  color: #ffffff;
}
.saved_add_delete {
  background: #ffffff;
  color: #333333;
}
.saved_add_delete:hover {
  background: #cc0000;
  color: #ffffff;
  border-color: #cc0000;
}
.saved_add_edit:hover {
  background: #ee5700;
  color: #ffffff;
  border-color: #ee5700;
}
.profile_id_proof {
  display: flex;
  flex-direction: column;
}
.profile_id_proof_heading {
  margin-top: 64px;
  margin-bottom: 8px;
  font-weight: bold;
}
.profile_id_proof_desc {
  color: #8a8a8a;
  font-size: 0.8rem;
  margin-bottom: 8px;
}
.profile_submitted_document_heading {
  margin-top: 24px;
  color: #333333;
  font-size: 0.8rem;
  font-weight: bold;
}
.profile_select_document {
  margin-top: 8px;
  width: 482px;
  font-size: 0.9rem;
}
.profile_document_number {
  margin-top: 8px;
  width: 456px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  font-size: 0.9rem;
  padding: 0 12px;
  outline-color: #ee5700;
}
.profile_document_number:hover {
  border-color: #bbbbbb;
}
.profile_file_upload {
  display: flex;
  flex-direction: column;
}
.profile_doc_instructions {
  margin-top: 4px;
  color: #ee5700;
  font-size: 0.7rem;
}
.profile_file_input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.profile_file_container {
  margin-top: 12px;
  width: 448px;
  padding: 16px;
  border: 1px solid #fa8c16;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile_file_container:hover {
  border-color: #ee5700;
}
.profile_file_input_filename {
  color: #8a8a8a;
  margin-bottom: 16px;
}
.profile_file_input_label {
  width: 100%;
  height: 35px;
  border-radius: 2px;
  background: #fa8c16;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.9rem;
}
.profile_file_input_label:hover {
  background: #ee5700;
}
.profile_document_error--visible {
  margin-top: 16px;
  color: #cc0000;
  font-size: 0.7rem;
  text-align: center;
}
.profile_document_error--hidden {
  display: none;
}
.profile_file_submitted {
  width: 100%;
  display: flex;
  border: 1px solid #cccccc;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.profile_file_submitted img {
  height: 75px;
  width: 75px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
}
.submitted_file_id {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 16px;
  background: #ddfeff;
}
.profile_update_kyc_file {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2px;
  padding: 8px 16px;
  background: #cccccc4f;
  color: #bbbbbb;
  cursor: pointer;
  outline: none;
  border: none;
}
.profile_update_kyc_file:hover {
  background: #9999997c;
  color: #000000;
}
.profile_file_submitted_status {
  margin-top: 16px;
  font-size: 0.7rem;
  text-align: center;
}
.profile_save_btn_container {
  width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_save_btn {
  margin-top: 32px;
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: bold;
}
.profile_save_btn--enabled {
  background: #0f4153;
  color: #ffffff;
  cursor: pointer;
}
.profile_save_btn--enabled:hover {
  background: #092b38;
}
.profile_save_btn--disabled {
  background: #cccccc;
  color: #bbbbbb;
  pointer-events: none;
}
.profile_update_doc_warning {
  padding: 8px;
  margin: 16px 16px 16px 16px;
  width: 464px;
  border: 1px solid #990000;
  border-radius: 4px;
  background: #ffe4e4;
  color: #990000;
  font-size: 0.75rem;
}
.default_link {
  text-decoration: none;
  color: #ee5700;
}
.default_link:hover {
  text-decoration: underline;
}
.profile_update_doc_heading {
  margin: 8px 16px -16px 16px;
  color: #000000;
  font-weight: bold;
}

/*for screen size larger or equal to 1024px px*/
@media screen and (min-width: 1024px) {
}

/*for screen size less than 1024px px*/
@media screen and (max-width: 1023px) {
}
