.bulk_outer_main_div {
  border: 1px solid #ffdfcd;
  border-radius: 8px;
  white-space: nowrap;
  background: #ffffff;
}

.bulk_outer_main_div,
.bulk_inner_main_div,
.bulk_content,
.bulk_info_top_left,
.bulk_primary_details,
.bulk_details_sec,
.bulk_info_top_right,
.bulk_rating {
  display: flex;
  flex-direction: column;
}

.bulk_info_top {
  display: flex;
  justify-content: space-between;
}

.bulk_image,
.bulk_details_pri,
.bulk_name,
.bulk_desc,
.bulk_location,
.bulk_lot_size,
.bulk_price,
.bulk_info_top_right,
.bulk_product_contact_btn,
.bulk_contact_symbol,
.bulk_profile_link,
.bulk_rating,
.bulk_rating_star,
.bulk_rating_text,
.bulk_utility,
.bulk_utility_nego,
.bulk_utility_fav,
.bulk_info_mid,
.bulk_expected_del_icon,
.bulk_expected_del_text,
.bulk_expected_del_time,
.bulk_info_bottom,
.bulk_info_bottom > form,
.bulk_form_left,
.bulk_book_label,
.bulk_qty_input,
.bulk_book_now_btn,
.bulk_status {
  display: flex;
  align-items: center;
}

.bulk_image {
  overflow: hidden;
  border-radius: 4px;
}

.bulk_image img {
  height: 75px;
  width: 100px;
  border-radius: 4px;
  object-fit: cover;
  -o-object-fit: cover;
}

.bulk_primary_details {
  margin-left: 8px;
}

.bulk_name {
  font-weight: bold;
  font-size: 1rem;
  color: black;
}

.bulk_desc {
  margin-top: 2px;
  font-style: italic;
  font-size: 0.85rem;
  color: #5c5c5c;
}

.bulk_price_amount,
.bulk_price_per_unit,
.bulk_expected_del_text,
.bulk_expected_del_time {
  margin-left: 4px;
}

.bulk_location,
.bulk_utility {
  margin-top: 8px;
}

.bulk_location {
  font-size: 0.75rem;
  color: #5c5c5c;
}

.bulk_details_sec {
  margin-top: 16px;
}

.bulk_product_contact_btn {
  outline: none;
  border: none;
  justify-content: space-around;
  font-weight: bold;
  border-radius: 16px;
  border: 1px solid #fac412;
  background: #ffffff;
}

.bulk_contact_symbol {
  justify-content: center;
  padding: 4px;
  color: #fac412;
  font-size: 0.9rem;
}

.bulk_profile_link {
  margin-top: 8px;
  color: #fa8d19;
  font-size: 0.7rem;
  font-weight: bold;
}

.bulk_rating_text {
  margin-top: 2px;
  color: #5c5c5c;
  font-size: 0.7rem;
  font-weight: bold;
}

.bulk_utility_nego,
.bulk_utility_fav {
  padding: 4px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #fac412;
  justify-content: center;
}

.bulk_utility_nego:hover,
.bulk_utility_fav:hover {
  background: #fffbef;
  border: 1px solid #ee5700;
}

.bulk_utility_fav {
  margin-left: 8px;
}

.bulk_expected_del_icon {
  font-size: 0.75rem;
}

.bulk_expected_del_text {
  font-style: italic;
}

.bulk_expected_del_time {
  font-style: normal;
  font-weight: bold;
}

.bulk_info_bottom > form {
  width: 100%;
  justify-content: space-between;
}

.bulk_book_label {
  color: #5c5c5c;
  white-space: nowrap;
}

.bulk_form_input_container {
  height: 26px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  border: 1px solid #fac412;
  border-radius: 4px;
  font-size: 0.95rem;
}

.bulk_qty_input {
  margin-left: 1px;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  font-size: 0.85rem;
}

.bulk_book_select {
  padding-right: 4px;
  height: calc(100% + 2px);
  position: relative;
  border: 1px solid #fac412;
  outline: none;
  border-radius: 0 4px 4px 0;
  font-size: 0.85rem;
}

.bulk_book_option {
  font-size: 0.85rem;
}

.bulk_book_now_btn {
  border-radius: 14px;
  align-items: center;
  border: none;
  outline: none;
  font-weight: bold;
  color: #ffffff;
  background: #fa8d19;
}

.bulk_status_bar {
  margin-top: 12px;
  width: 100%;
}

/*for screen size larger or equal to 1024px px*/
@media screen and (min-width: 1024px) {
  .bulk_outer_main_div {
    min-width: 425px;
    margin: 4px;
  }
  .bulk_inner_main_div {
    width: calc(100% - 24px);
    padding: 12px;
  }
  .bulk_image:hover > img {
    transform: scale(1.05);
    transition: all 0.1s;
  }
  .bulk_image img,
  .bulk_name,
  .bulk_desc,
  .bulk_location,
  .bulk_product_contact_btn,
  .bulk_profile_link,
  .bulk_utility_nego,
  .bulk_utility_fav,
  .bulk_book_now_btn {
    cursor: pointer;
  }
  .bulk_location {
    font-size: 0.85rem;
    color: #5c5c5c;
  }
  .bulk_lot_size {
    color: #5c5c5c;
    font-size: 0.95rem;
  }
  .bulk_price {
    margin-top: 4px;
    font-size: 0.95rem;
  }
  .bulk_product_contact_btn {
    width: 100px;
    height: 28px;
  }
  .bulk_product_contact_btn:hover {
    background: #fffbef;
    border: 1px solid #ee5700;
  }
  .bulk_button_text {
    display: flex;
    flex: 1;
    text-align: center;
    color: #5c5c5c;
  }
  .bulk_profile_link:hover {
    color: #000000;
  }
  .bulk_profile_link {
    margin-top: 12px;
    font-size: 0.7rem;
  }
  .bulk_rating {
    margin-top: 8px;
  }
  .bulk_info_mid {
    margin-top: 8px;
    color: #fa8d19;
    font-size: 0.95rem;
  }
  .bulk_info_bottom {
    margin-top: 12px;
  }
  .bulk_info_bottom {
    width: 100%;
    margin-top: 12px;
  }
  .bulk_book_label {
    font-size: 0.95rem;
  }
  .bulk_qty_input {
    height: 22px;
    width: 80px;
    padding-left: 7px;
  }
  .bulk_book_select {
    right: -3px;
  }
  .bulk_book_now_btn {
    margin-left: 4px;
    height: 26px;
    width: 100px;
    font-size: 0.8rem;
    justify-content: center;
  }
  .bulk_book_now_btn:hover {
    background: #ee5700;
  }
}

/*for screen size less than 1024px px*/
@media screen and (max-width: 1023px) {
  .bulk_outer_main_div {
    min-width: 345px;
    margin: 4px 2px;
    text-align: center;
  }
  .bulk_inner_main_div {
    width: calc(100% - 16px);
    padding: 8px;
  }
  .bulk_name,
  .bulk_desc,
  .bulk_location,
  .bulk_product_contact_btn,
  .bulk_profile_link,
  .bulk_utility_nego,
  .bulk_utility_fav,
  .bulk_book_now_btn {
    -webkit-tap-highlight-color: transparent;
  }
  .bulk_location {
    font-size: 0.75rem;
    color: #5c5c5c;
  }
  .bulk_lot_size {
    color: #5c5c5c;
    font-size: 0.85rem;
  }
  .bulk_price {
    margin-top: 4px;
    font-size: 0.85rem;
  }
  .bulk_product_contact_btn {
    width: 92px;
    height: 30px;
    font-size: 0.75rem;
  }

  .bulk_product_contact_btn:active {
    background: #fffbef;
    border: 1px solid #ee5700;
  }
  .bulk_button_text {
    display: flex;
    flex: 1;
    text-align: center;
    color: black;
    font-size: 0.75rem;
    padding-top: 1px;
  }
  .bulk_profile_link:hover {
    color: #000000;
  }
  .bulk_profile_link {
    margin-top: 16px;
    font-size: 0.75rem;
  }
  .bulk_rating {
    margin-top: 12px;
  }
  .bulk_info_mid {
    color: #fa8d19;
    font-size: 0.85rem;
  }
  .bulk_info_bottom {
    margin-top: 8px;
  }
  .bulk_info_bottom {
    width: 100%;
    margin-top: 8px;
  }
  .bulk_book_label {
    font-size: 0.85rem;
  }
  .bulk_qty_input {
    height: 20px;
    width: 64px;
    padding-left: 3px;
  }
  .bulk_book_select {
    right: -1px;
  }
  .bulk_book_now_btn {
    margin-top: -2px;
    margin-left: 4px;
    height: 28px;
    width: 92px;
    font-size: 0.75rem;
    justify-content: center;
  }
  .bulk_book_now_btn:active {
    background: #ee5700;
  }
}
