/* For larger devices */
@media screen and (min-width: 1024px) {
  .alt_places_component {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .alt_autocomplete_places_main_outer_div {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
  }

  .alt_location_search_input {
    width: calc(100% - 80px);
    flex: 1;
    border-radius: 20px;
    outline: none;
    border: 1px solid #cccccc;
    font-size: 0.85rem;
    padding: 8px 64px 8px 16px;
  }

  .alt_location_search_input:focus {
    border-color: #ee5700;
    box-shadow: 0 0 0 1px #ee5700;
  }

  .alt_searchbar_utility_btn_location {
    position: absolute;
    right: 4px;
    margin-left: 12px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    background: #dddddd;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }

  .alt_searchbar_utility_btn_location:hover {
    background: #cccccc;
  }

  .alt_searchbar_utility_btn_location:active {
    transform: scale(0.95);
    color: black;
  }

  .alt_autocomplete_dropdown_container {
    width: 685px;
    background: #ffffff;
    border-radius: 12px;
    font-size: 0.85rem;
    position: absolute;
    top: 30px;
    left: 0;
    box-shadow: 0 1px 4px #5c5c5c;
  }

  .alt_loading_location_div {
    padding: 8px 16px;
    border-radius: 12px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .alt_suggestion_item {
    padding: 8px 16px 0 16px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
  }

  .alt_suggestion_desc {
    max-width: 625px;
    overflow: scroll;
    white-space: nowrap;
    scrollbar-width: thin;
  }

  .alt_suggestion_item:hover {
    background: #ffe1c0;
  }

  .alt_suggestion_item:active {
    background: #ffe1c0;
  }
}

/*for screen size less than 1024px px*/
@media screen and (max-width: 1023px) {
  .alt_places_component {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .alt_autocomplete_places_main_outer_div {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
  }

  .alt_location_search_input {
    padding: 8px 88px 8px 12px;
    width: calc(100% - 100px);
    flex: 1;
    height: 100%;
    border-radius: 20px;
    font-size: 0.85rem;
    outline: none;
    border: 1px solid #cccccc;
  }

  .alt_location_search_input:focus {
    border-color: #ee5700;
    box-shadow: 0 0 0 1px #ee5700;
  }

  .alt_searchbar_utility_btn_location {
    position: absolute;
    right: 8px;
    margin: 0 0 0 8px;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    background: #dddddd;
    border-radius: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .alt_searchbar_utility_btn_location:active {
    background: #e2e2e2;
    color: black;
    transform: scale(1.05);
  }

  .alt_autocomplete_dropdown_container {
    width: calc(100% - 32px);
    background: #ffffff;
    border-radius: 3px;
    font-size: 0.85rem;
    box-shadow: 0 1px 2px #5c5c5c;
    position: absolute;
    top: 40px;
    left: 8px;
  }

  .alt_loading_location_div {
    padding: 8px 16px;
    border-radius: 12px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .alt_suggestion_item {
    padding: 8px 8px 0 8px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
  }

  .alt_suggestion_desc {
    max-width: calc(100% - 30px);
    overflow: scroll;
    white-space: nowrap;
    scrollbar-width: thin;
  }

  .alt_suggestion_item:hover {
    background: #ffe1c0;
  }

  .alt_suggestion_item:active {
    background: #ffe1c0;
  }
}
