/*for screen size larger or equal to 1024px px*/
@media screen and (min-width: 1024px) {
  .sidebar,
  .sidebar_image_container,
  .sidebar_profile_info,
  .sidebar_user_details,
  .sidebar_top_info_group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar {
    width: 100%;
    height: 100%;
  }
  .sidebar_profile_info {
    margin-top: 32px;
    width: 100%;
  }

  .sidebar_profile_image,
  .sidebar_profile_image img,
  .sell_new_product_button_group,
  .sidebar_logout {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar_profile_image img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #ee5700;
  }

  .sidebar_profile_image_change_btn {
    font-size: 1.2rem;
    position: relative;
    top: -12px;
    padding: 0px 4px 0 4px;
    border-radius: 4px;
    background-color: #ffffffb6;
    border: none;
    outline: none;
    cursor: pointer;
    color: #5c5c5c;
  }

  .sidebar_profile_image_change_btn:hover {
    color: black;
  }

  .sidebar_username {
    margin-top: -4px;
    font-size: 0.95rem;
    color: #5c5c5c;
    text-transform: capitalize;
  }

  .sidebar_plan {
    margin-top: 2px;
    display: flex;
    font-size: 0.75rem;
  }

  .sidebar_plan_text {
    color: #5c5c5c;
  }

  .sidebar_plan_value {
    margin-left: 4px;
    color: #009900;
    text-transform: capitalize;
  }

  .sidebar_contact {
    margin-top: 8px;
    color: #ee5700;
    font-size: 0.8rem;
  }

  .sell_new_product_button_group {
    margin-top: 32px;
    /* height: 64px; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
  }

  .sell_new_product_button,
  .buy_new_product_button {
    height: 35px;
    padding: 0 16px;
    border-radius: 4px;
    outline: none;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
  }
  .sell_new_product_button {
    background: #fa8c16;
    border: 1px solid #ee5700;
    color: #ffffff;
  }
  .buy_new_product_button {
    margin-left: 8px;
    background: #ffffff;
    border: 1px solid #ee5700;
    color: #ee5700;
  }

  .sell_new_product_button:hover {
    background: #ff6207;
  }

  .menu_text_display {
    margin-top: 48px;
    font-size: 0.75rem;
  }

  .sidebar_menu {
    margin-top: 24px;
  }

  .sidebar_menu_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .sidebar_menu_item--active,
  .sidebar_menu_item {
    padding-left: 32px;
    width: 176px;
    height: 35px;
    display: flex;
    align-items: center;
    margin: 2px 0;
    font-size: 0.8rem;
    text-decoration: none;
  }
  .sidebar_menu_item--active {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px #cccccc;
    color: #333333;
    font-weight: bold;
  }

  .sidebar_menu_item {
    color: #5c5c5c;
    cursor: pointer;
  }

  .sidebar_menu_item:hover {
    box-shadow: 0 2px 4px #cccccc;
    border-radius: 20px;
  }

  .sidebar_menu_item_icon,
  .sidebar_menu_item_icon--active {
    margin-right: 8px;
    font-size: 1rem;
    width: 20px;
    display: flex;
    justify-content: center;
  }
  .sidebar_menu_item_icon--active {
    color: #ee5700;
  }

  .sidebar_logout {
    margin-top: 64px;
    margin-bottom: 16px;
    width: 200px;
    height: 35px;
    border-radius: 20px;
    box-shadow: 0 2px 4px #cccccc;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: bold;
    color: #5c5c5c;
  }

  .sidebar_logout:hover {
    background: #ffffff;
    color: #333333;
    box-shadow: 0 2px 4px #cccccc;
  }
}

/*for screen size less than 1024px px*/
@media screen and (max-width: 1023px) {
  .sidebar,
  .sidebar_user_details,
  .sidebar_image_container {
    display: flex;
    flex-direction: column;
  }
  .sidebar_top_info_group {
    width: calc(100% - 24px);
    padding: 12px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px #cccccc;
  }
  .sidebar {
    width: 100%;
    height: 100%;
  }
  .sidebar_profile_info {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .sidebar_image_container {
    align-items: center;
    position: relative;
  }
  .sidebar_user_details {
    margin-left: 12px;
  }
  .sidebar_profile_image img,
  .sell_new_product_button_group,
  .sidebar_logout,
  .sidebar_menu_item--active,
  .sidebar_menu_item,
  .sell_new_product_button,
  .buy_new_product_button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar_profile_image img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #ee5700;
  }

  .sidebar_profile_image_change_btn {
    font-size: 1.2rem;
    position: absolute;
    bottom: -8px;
    padding: 0px 4px 0 4px;
    border-radius: 4px;
    background-color: #ffffffb6;
    border: none;
    outline: none;
    cursor: pointer;
    color: #5c5c5c;
  }

  .sidebar_profile_image_change_btn:active {
    color: black;
  }

  .sidebar_username {
    font-size: 0.8rem;
    color: #5c5c5c;
    font-weight: bold;
    text-transform: capitalize;
  }

  .sidebar_plan {
    display: flex;
    font-size: 0.7rem;
  }

  .sidebar_plan_text {
    color: #5c5c5c;
  }

  .sidebar_plan_value {
    margin-left: 4px;
    color: #009900;
    text-transform: capitalize;
  }

  .sidebar_contact {
    margin-top: 4px;
    color: #ee5700;
    font-size: 0.7rem;
    font-weight: bold;
  }

  .sell_new_product_button_group {
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sell_new_product_button,
  .buy_new_product_button {
    height: 30px;
    padding: 0 16px;
    border-radius: 4px;
    outline: none;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
  }
  .sell_new_product_button {
    background: #fa8c16;
    border: 1px solid #ee5700;
    color: #ffffff;
  }
  .buy_new_product_button {
    background: #ffffff;
    border: 1px solid #fa8c16;
    color: #fa8c16;
  }
  .sell_new_product_button:active {
    background: #ff6207;
  }

  .menu_text_display {
    display: none;
  }

  .sidebar_menu {
    margin-top: 32px;
    margin-bottom: 10px;
    overflow: scroll;
    padding: 4px;
  }

  .sidebar_menu_list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .sidebar_menu_item--active,
  .sidebar_menu_item {
    padding: 0 16px;
    height: 35px;
    margin: 4px 4px 8px 4px;
    font-size: 0.8rem;
    text-decoration: none;
    white-space: nowrap;
    color: #333333;
    -webkit-tap-highlight-color: transparent;
  }
  .sidebar_menu_item--active {
    border-radius: 20px;
    background-color: #ee5700;
    box-shadow: 0 2px 4px #cccccc;
    color: #ffffff;
    font-weight: bold;
  }
  .sidebar_menu_item {
    cursor: pointer;
    box-shadow: 0 2px 4px #cccccc;
    border-radius: 20px;
  }
  .sidebar_menu_item:active {
    background: #fffbef;
  }
  .sidebar_menu_item_icon,
  .sidebar_menu_item_icon--active {
    margin-right: 8px;
    font-size: 1rem;
    width: 20px;
    display: flex;
    justify-content: center;
  }
  .sidebar_menu_item_icon--active {
    color: #ffffff;
  }

  .sidebar_logout {
    display: none;
  }
}
